.attribution {
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: lighter;
  a {
    color: $light_grey;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    position: relative;
  }
}